/* Styles for login page */

/* Import external stylesheet */
@import url('mentari.css');

body
{
	font:90%/150% arial,sans-serif,verdana;
	background:#f5f5f5;
	color:#444;
}

#login-box
{
	background:#fff;
	width:200px;
	margin:0 auto;
	border:1px double #e5e5e5;
	padding:25px 30px 15px 30px;
	box-shadow:0 0 15px #e5e5e5;
	-webkit-box-shadow:0 0 15px #e5e5e5;
	-moz-box-shadow:0 0 15px #e5e5e5;
	-o-box-shadow:0 0 15px #e5e5e5;
}

#login-header
{
	margin:0 auto;
	text-align:center;
	width:200px;
	margin-top:50px;
	padding:30px;
}

#login-header img
{
	width:50px;
	float:left;
	margin:1px 5px 0 0;
	box-shadow:0 0 15px #ccc;
	-webkit-box-shadow:0 0 15px #ccc;
	-moz-box-shadow:0 0 15px #ccc;
	-o-box-shadow:0 0 15px #ccc;
}

label
{
	color:#666;
	font-size:0.9em;
	letter-spacing:1px;
}

input#username, input#password
{
	display:block;
	width:96%;
	border:1px solid #ccc;
	padding:4px;
	margin-bottom:20px;
}

input#submit
{
	width:100px;
	background:#a33224;
	color:#fff;
	border:2px solid #e5e5e5;
	margin:20px 0;
	padding:10px;
	display:block;
}

input#reset-password
{
	background:#a33224;
	width:200px;
	color:#fff;
	border:2px solid #e5e5e5;
	margin:20px 0;
	padding:10px;
	display:block;
}

#submit:hover, #reset-password:hover
{
	cursor:pointer;
	background:#666;
}

#login-box p
{
	font-size:0.8em;
}

#login-box a
{
	color:#999;
	text-decoration:none;
}

#login-box a:hover
{
	color:#666;
	text-decoration:underline;
}

#lost-password
{
	margin-top:-46px;
}

.error
{
	background:#ffeBe8;
	border:1px solid #c00;
	font-size:0.8em;
	width:261px;
	padding:5px 0;
	margin:40px 0 0 -32px;
	box-shadow:0 0 15px #ccc;
	-webkit-box-shadow:0 0 15px #ccc;
	-moz-box-shadow:0 0 15px #ccc;
	-o-box-shadow:0 0 15px #ccc;
}